body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg-portrait.png);
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  position: relative;
}

body #homePage,
body #menuPage,
body #estacionesPage,
body #guiaPage,
body #aboutPage,
body #premiosPage,
body #contactPage {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  overflow: hidden;
}

body .contDiv {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
}

nav {
  position: absolute;
  top: 0;
  z-index: 36;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .navbar-brand {
  width: 30px;
}

nav .nav-link {
  font-weight: bold;
}

nav #loginNav {
  background-color: #007200;
  color: whitesmoke;
}

#menuPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menuPage .contDiv {
  background-color: #212529;
}

#menuPage #carouselExampleControls {
  position: relative;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 30px;
}

#menuPage .carouselMenu {
  width: 90%;
  max-height: 200px;
  border-radius: 30px;
  background-color: #212529;
  margin-top: 1em;
}

#menuPage .carousel-inner {
  border-radius: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
}

#menuPage .contDiv {
  background-color: #212529;
}

#menuPage .imgCarousel {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#menuPage .carouselTitle {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #212529;
  padding: 0em 0em 0em 0.5em;
}

#menuPage .carouselTitle p {
  font-size: x-large;
  color: whitesmoke;
}

#menuPage .ecoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuPage .ecoins .ecoinsText {
  font-size: 200%;
  font-weight: 500;
}

#menuPage .ecoins .ecoinIco {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#menuPage .userPerfil {
  width: 120px;
  height: 120px;
  margin-top: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1em;
}

#menuPage .userName {
  font-size: large;
  font-weight: 500;
}

#homePage {
  position: relative;
}

#homePage .map_estaciones {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

#homePage iframe {
  width: 100%;
  height: 100%;
}

#homePage .cardHome {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  background-color: #004B23;
}

#homePage .cardHome .btn {
  background-color: #008000;
  color: white;
}

#homePage .ecoinsHome {
  width: 100%;
  position: absolute;
  background-color: #004B23;
  color: #ebcd25;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#homePage #app {
  position: absolute;
  list-style: none;
  z-index: 1;
  background-color: #006400;
  width: 100%;
  max-height: 200px;
  bottom: 0;
}

#estacionesPage .estacionesTitle {
  color: whitesmoke;
  margin: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#estacionesPage .card {
  width: 90%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  color: whitesmoke;
  background-color: #004B23;
}

#estacionesPage .card .btn {
  background-color: #008000;
  color: white;
}

#guiaPage .userPerfil {
  width: 120px;
  height: 120px;
  margin-top: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1em;
}

#guiaPage .userName {
  font-size: large;
  font-weight: 500;
}

#guiaPage .ecoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#guiaPage .ecoins .ecoinsText {
  font-size: 200%;
  font-weight: 500;
}

#guiaPage .ecoins .ecoinIco {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#guiaPage .guiaCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #212529;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#guiaPage .guiaCont h3 {
  font-size: x-large;
  color: #38B000;
}

#guiaPage .guiaCont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

#aboutPage .aboutLogo {
  margin-top: 30px;
  margin-bottom: 30px;
}

#aboutPage .aboutCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #212529;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#aboutPage .aboutCont h3 {
  font-size: x-large;
  color: #38B000;
}

#aboutPage .aboutCont .aboutMarcas {
  width: 100%;
}

#aboutPage .aboutCont .aboutMarcas .marcas {
  width: 100%;
  height: 100%;
}

#premiosPage {
  color: #4e4e4e;
  position: relative;
}

#premiosPage .ecoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 100%;
  z-index: 3000;
  background-color: #212529;
  padding: 0em 1em 0em 1em;
  position: fixed;
}

#premiosPage .ecoins .premionav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em;
}

#premiosPage .ecoins .premionav p {
  margin-bottom: 0;
}

#premiosPage .ecoins .premioFilt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#premiosPage .ecoins .premioFilt select {
  background-color: #212529;
  color: whitesmoke;
  border: none;
  padding: 5px;
  font-size: 140%;
  font-weight: 400;
}

#premiosPage .ecoins .ecoinsText {
  font-size: 200%;
  font-weight: 500;
}

#premiosPage .ecoins .ecoinIco {
  margin-left: 0.5rem;
}

#premiosPage #winner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#premiosPage #winner .btn {
  background-color: #006400;
  color: whitesmoke;
}

#contactPage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contactPage h2 {
  font-size: 200%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #38B000;
}

#contactPage label {
  margin-top: 1em;
  margin-bottom: -1em;
}

#contactPage .contDiv {
  width: 90%;
  height: 90%;
  background-color: #212529;
  border-radius: 30px;
}

#contactPage .contactForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
}

#contactPage .contactForm input {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  background-color: whitesmoke;
}

#contactPage .contactForm label {
  text-align: start;
  color: whitesmoke;
}

#contactPage .msjContact {
  width: 90%;
  height: 150px;
  border-radius: 30px;
  background-color: whitesmoke;
}

#contactPage .btnContact {
  border: none;
  border-radius: 30px;
  background-color: #004B23;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
}

#contactPage .fieldsetC {
  background-color: #212529;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: large;
}

#contactPage .fieldsetC p {
  margin-top: 1em;
}

#contactPage .tipoUser {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

#page-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  z-index: 11000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-splash #usernameNYSL {
  width: 250px;
  /* text-align: start; */
}

#page-splash #page-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #63af4ac0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-splash #passwordNYSL {
  width: 250px;
}

#page-splash #sign-in-button-MAIL {
  background-color: #212529;
  color: whitesmoke;
  width: 250px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  padding: 5px 0px 5px 0px;
}

#page-splash #sign-in-button {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-splash #sign-in-button-FB {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-splash .popUpSplash {
  z-index: 11000;
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

#page-splash .popUpSig {
  z-index: 11000;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#page-splash .logInAlt {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#page-splash .separador {
  font-size: xx-large;
  color: gray;
  height: 48px;
  margin-top: 9px;
}

#page-splash .h2Sign {
  color: #141414;
}

#page-splash .notSign {
  color: #4e4e4e;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

#page-splash .regist label {
  color: gray;
  font-size: medium;
}

#page-splash .regist input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #149e14;
  margin-bottom: 1em;
}

#page-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  z-index: 11000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-popup #usernameNYSL {
  width: 250px;
  /* text-align: start; */
}

#page-popup #page-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #63af4ac0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-popup #passwordNYSL {
  width: 250px;
}

#page-popup #sign-in-button-MAIL {
  background-color: #212529;
  color: whitesmoke;
  width: 250px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  padding: 5px 0px 5px 0px;
}

#page-popup #sign-in-button {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-popup #sign-in-button-FB {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-popup .popUpSplash {
  z-index: 11000;
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

#page-popup .popUpSig {
  z-index: 11000;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#page-popup .logInAlt {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#page-popup .separador {
  font-size: xx-large;
  color: gray;
  height: 48px;
  margin-top: 9px;
}

#page-popup .h2Sign {
  color: #141414;
}

#page-popup .notSign {
  color: #4e4e4e;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

#page-popup .regist label {
  color: gray;
  font-size: medium;
}

#page-popup .regist input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #149e14;
  margin-bottom: 1em;
}

@media screen and (orientation: landscape) {
  body #contactPage {
    background-image: url(../img/fondo-contact-01.jpg);
    background-position-x: left;
    background-size: 160%;
    -webkit-backdrop-filter: blur(30%);
            backdrop-filter: blur(30%);
  }
  body #contactPage .contDiv {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-radius: 0px 50px 50px 0px;
    background-image: url(../img/bg-portrait.png);
    background-size: cover;
    background-attachment: fixed;
  }
}

.light-mode body #homePage,
.light-mode body #estacionesPage,
.light-mode body #guiaPage,
.light-mode body #aboutPage,
.light-mode body #contactPage {
  width: 100%;
  height: 100%;
  background-color: #020317;
}
/*# sourceMappingURL=style.css.map */








/*//////////// ESTILO DE PATO QUE NO SE PONER LINDO CON SASS //////*/

#ubicacion, #ubicacion2, #ubicacion3 {
  position:fixed;
  text-align: center;
  color: white;
  margin-top: -20%;
  width: 100%; 
  background-color: #004B23;
  bottom: 0;
}

#map {
  height: 95%;
}

#geolocationError {
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  color: black;

  bottom: 45%;
  z-index: 5;
}

#geolocationError .card {
  width: 90%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  color: whitesmoke;
  background-color: #004B23;
}

#geolocationError .card .btn {
  background-color: #008000;
  color: white;
}

#geolocationError .card-body{
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  margin-bottom: -30px;
}

#mostrarUbicacionActual{
  position: absolute;
  bottom: 7.5%;
  right: 0;
  margin-right: 3.5%;
  color: #004B23;
  font-size: 2em;
}

svg{
  height: 30px;
  color: #004B23;
}



.dropdownSection{
  display: flex;
  justify-content: center;
}

#dropdownnn .contDiv{
 /*  display: none; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  color: white;

  bottom: 45%;
  z-index: 5;
}

#dropdownnn .card {
  width: 90%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
  color: whitesmoke;
  background-color: #004B23;
}

#dropdownnn .card .btn {
  background-color: #008000;
  color: white;
}

#dropdownnn .card-body{
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  margin-bottom: -30px;
}

#homePage{
  position: relative;
}

#dropdownnn{
  display: none;
  padding-top: 4em;
  background: #0000008a;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: scroll;
}