* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg-portrait.png);
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body #homePage,
body #menuPage,
body #estacionesPage,
body #guiaPage,
body #aboutPage,
body #premiosPage,
body #contactPage {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  overflow: hidden;
  background-color: teal;
}

body .contDiv {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

nav {
  position: fixed;
  top: 0;
  z-index: 36;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin-bottom: 2em;
}

nav .navbar-brand {
  width: 30px;
}

nav .nav-link {
  font-weight: bold;
  color: whitesmoke;
}

nav #loginNav {
  background-color: #007200;
  color: whitesmoke;
}

nav #logOut {
  background-color: #007200;
  color: whitesmoke;
}

nav #btnRegist {
  background-color: #007200;
  color: whitesmoke;
  position: absolute;
  float: right;
}

#menuPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#menuPage .web {
  display: none;
  margin-top: 2.5em;
}

#menuPage .web .circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid green;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#menuPage .web .circular--landscape img {
  width: auto;
  height: 100%;
}

#menuPage .web #mgleft {
  margin-left: -24px;
}

#menuPage .web .carousel-indicators {
  margin-bottom: 0;
}

#menuPage .usser {
  margin-top: 2em;
}

#menuPage .contDiv {
  width: 100%;
  height: 100%;
  background-color: #212529;
}

#menuPage #carouselExampleControls {
  position: relative;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 10px 10px 0px 0px;
}

#menuPage .carouselMenu {
  width: 100%;
  height: 200px;
  border-radius: 136px;
  background-color: #212529;
  margin-top: 1em;
  border-bottom: 1px solid #CCFF33;
}

#menuPage .carouselMenu #carouselImg {
  background-image: url(../img/villavicencio-event.jpg);
  background-size: cover;
}

#menuPage .carousel-inner {
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
}

#menuPage .contDiv {
  background-color: #212529;
}

#menuPage .imgCarousel {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#menuPage .carouselTitle {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 167, 3, 0)), to(#60a817));
  background: linear-gradient(180deg, rgba(255, 167, 3, 0) 0%, #60a817 100%);
  padding: 0em 0em 0.3em 0.5em;
}

#menuPage .carouselTitle p {
  font-size: x-large;
  color: white;
}

#menuPage .ecoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuPage .ecoins .ecoinsText {
  font-size: 200%;
  font-weight: 500;
}

#menuPage .ecoins .ecoinIco {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#menuPage .userPerfil {
  width: 120px;
  height: 120px;
  margin-top: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1em;
  border-radius: 100%;
}

#menuPage .userName {
  font-size: large;
  font-weight: 500;
}

#menuPage .notLogedMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

#menuPage .notLogedMenu .notlogimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

#menuPage .notLogedMenu .notlogimg .gwTitle {
  width: 90%;
  margin-top: -1.4em;
  margin-bottom: -1.3em;
}

#menuPage .notLogedMenu .notlogbtn {
  background-color: #38B000;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

#menuPage .notLogedMenu .notlogbtn .btn {
  color: whitesmoke;
  font-weight: 500;
}

#menuPage .notLogedMenu .notlogcoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuPage .notLogedMenu .notlogcoins .ecoinIco {
  margin-left: 5px;
  margin-bottom: 10px;
}

#menuPage .notLogedMenu .notlogText {
  font-size: 150%;
}

#menuPage #eventoSemanal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
}

#menuPage #eventoSemanal .opacityEvent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.413);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuPage #eventoSemanal .opacityEvent .popupEvent {
  width: 85%;
  height: 70%;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: whitesmoke;
  padding: 1em;
  color: #212529;
  position: relative;
}

#menuPage #eventoSemanal .opacityEvent .popupEvent .imgeventoS {
  width: 100%;
  height: 150px;
  position: absolute;
}

#menuPage #eventoSemanal .opacityEvent .popupEvent .imgeventoS img {
  -o-object-fit: contain;
     object-fit: contain;
}

#menuPage .webResponsive {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homePage {
  position: relative;
}

#homePage .map_estaciones {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}

#homePage iframe {
  width: 100%;
  height: 100%;
}

#homePage .cardHome {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  background-color: #004B23;
}

#homePage .cardHome .btn {
  background-color: #008000;
  color: white;
}

#homePage .ecoinsHome {
  width: 100%;
  position: absolute;
  background-color: #004B23;
  color: #ebcd25;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#homePage #app {
  position: absolute;
  list-style: none;
  z-index: 1;
  background-color: #006400;
  width: 100%;
  max-height: 200px;
  bottom: 0;
}

#guiaPage .contDiv {
  margin-top: 4em;
}

#guiaPage .contDiv .userPerfil {
  width: 120px;
  height: 120px;
  margin-top: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1em;
}

#guiaPage .contDiv .userName {
  font-size: large;
  font-weight: 500;
}

#guiaPage .contDiv .ecoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#guiaPage .contDiv .ecoins .ecoinsText {
  font-size: 200%;
  font-weight: 500;
}

#guiaPage .contDiv .ecoins .ecoinIco {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#guiaPage .contDiv .guiaCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #212529;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#guiaPage .contDiv .guiaCont h3 {
  font-size: x-large;
  color: #38B000;
}

#guiaPage .contDiv .guiaCont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

#guiaPage .contDiv .conti {
  background-color: whitesmoke;
  border-radius: 10px;
}

#guiaPage .contDiv .conti .recysad {
  width: 12em;
  margin-bottom: -4em;
  z-index: 2;
  margin-top: 2em;
}

#guiaPage .contDiv .conti .oval {
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background: #cccccc;
  z-index: 1;
}

#guiaPage .contDiv .conti .textNoalcanza {
  color: #212529;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  margin-top: 0.5em;
}

#aboutPage {
  width: 100%;
}

#aboutPage .notlogimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.3em;
}

#aboutPage .notlogimg .gwTitle {
  width: 90%;
  margin-top: -1.4em;
  margin-bottom: -1.3em;
}

#aboutPage .aboutCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #212529;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

#aboutPage .aboutCont h3 {
  font-size: x-large;
  color: #38B000;
}

#aboutPage .aboutCont .aboutMarcas {
  width: 100%;
}

#aboutPage .aboutCont .aboutMarcas .marcas {
  width: 100%;
  height: 100%;
}

#aboutPage .carouselMenu {
  width: 100%;
  max-height: 200px;
  background-color: #212529;
  margin-top: 1em;
}

#aboutPage .carousel-inner {
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 100%;
}

#aboutPage .imgCarousel {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#aboutPage .carouselTitle {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 167, 3, 0)), to(#60a817));
  background: linear-gradient(180deg, rgba(255, 167, 3, 0) 0%, #60a817 100%);
  padding: 0em 0em 0.3em 0.5em;
}

#aboutPage .carouselTitle p {
  font-size: x-large;
  color: white;
}

#premiosPage {
  color: #4e4e4e;
  position: relative;
}

#premiosPage .row div {
  padding: 0;
}

#premiosPage .ecoins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 35;
  background-color: #212529;
  padding: 0em 1em 0em 1em;
  position: fixed;
  margin-top: 3.5em;
  border-radius: 0px 0px 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#premiosPage .ecoins p {
  margin-top: 0;
  margin-bottom: 0;
}

#premiosPage .ecoins .premionav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em;
}

#premiosPage .ecoins .premionav p {
  margin-bottom: 0;
}

#premiosPage .ecoins .premioFilt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#premiosPage .ecoins .premioFilt select {
  background-color: #212529;
  color: whitesmoke;
  border: none;
  padding: 5px;
  font-weight: 400;
}

#premiosPage .ecoins .ecoinsText {
  font-size: 200%;
  font-weight: 500;
}

#premiosPage .ecoins .ecoinIco {
  margin-left: 0.5rem;
}

#premiosPage .recompensa {
  margin-top: 3em;
}

#premiosPage #winner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#premiosPage #winner .btn {
  background-color: #006400;
  color: whitesmoke;
}

#premiosPage .delete-product {
  cursor: pointer;
}

#premiosPage .carritobtn {
  background-color: #38B000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  margin: 1em;
  border-radius: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  z-index: 30000;
  border: none;
  border: nones;
}

#premiosPage table {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

#contactPage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#contactPage h2 {
  font-size: 200%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#contactPage label {
  margin-top: 1em;
  margin-bottom: -1em;
}

#contactPage .contDiv {
  width: 100%;
  background: linear-gradient(-45deg, #70E000, #008000, #38B000, #70E000);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
}

#contactPage .contDiv h2 {
  color: #212529;
  z-index: 3;
}

#contactPage .contDiv form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#contactPage .contDiv form .contactForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
}

#contactPage .contDiv form .contactForm input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1em;
}

#contactPage .contDiv form .msjContact {
  width: 90%;
  height: 150px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

#contactPage .contDiv form .btnContact {
  border: none;
  border-radius: 10px;
  background-color: #007200;
  color: whitesmoke;
  padding: 1em 2em 1em 2em;
  margin: 1em;
}

#contactPage .contDiv form .fieldsetC {
  background-color: whitesmoke;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: large;
  color: #212529;
  border-radius: 10px;
  margin-bottom: 1em;
}

#contactPage .contDiv form .fieldsetC p {
  margin-top: 1em;
  margin-bottom: -1em;
}

#contactPage .contDiv form .tipoUser {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

#contactPage video {
  position: absolute;
  height: 100vh;
  opacity: 0.7;
  z-index: 0;
}

#page-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  z-index: 41000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-splash #usernameNYSL {
  width: 250px;
  /* text-align: start; */
}

#page-splash #page-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #63af4ac0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-splash #passwordNYSL {
  width: 250px;
}

#page-splash #sign-in-button-MAIL {
  background-color: #212529;
  color: whitesmoke;
  width: 250px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  padding: 5px 0px 5px 0px;
}

#page-splash #sign-in-button {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-splash #sign-in-button-FB {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-splash .popUpSplash {
  z-index: 11000;
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

#page-splash .popUpSig {
  z-index: 11000;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#page-splash .logInAlt {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#page-splash .separador {
  font-size: xx-large;
  color: gray;
  height: 48px;
  margin-top: 9px;
}

#page-splash .h2Sign {
  color: #141414;
}

#page-splash .notSign {
  color: #4e4e4e;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

#page-splash .regist label {
  color: gray;
  font-size: medium;
}

#page-splash .regist input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #149e14;
  margin-bottom: 1em;
}

#page-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  z-index: 11000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-popup #login-email {
  width: 250px;
  /* text-align: start; */
}

#page-popup #page-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #63af4ac0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-popup #login-password {
  width: 250px;
}

#page-popup #sign-in-button-MAIL {
  background-color: #212529;
  color: whitesmoke;
  width: 250px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  padding: 5px 0px 5px 0px;
}

#page-popup #googleLogin-btn {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-popup #facebookLogin-btn {
  margin-left: 10px;
  color: inherit;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: transparent;
}

#page-popup .popUpSplash {
  z-index: 11000;
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

#page-popup .popUpSig {
  z-index: 11000;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#page-popup .logInAlt {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#page-popup .separador {
  font-size: xx-large;
  color: gray;
  height: 48px;
  margin-top: 9px;
}

#page-popup .h2Sign {
  color: #141414;
}

#page-popup .notSign {
  color: #4e4e4e;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

#page-popup .regist label {
  color: gray;
  font-size: medium;
}

#page-popup .regist input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #149e14;
  margin-bottom: 1em;
}

#page-popup .btn-close {
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  padding: 1.5em;
}

#envioPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #38B000;
  z-index: 31000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-animation: aparecer 1s forwards;
          animation: aparecer 1s forwards;
}

#envioPopup .contDiv {
  width: 90%;
  height: 90%;
  background-color: #fbfdfb;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding: 0.5em;
}

#envioPopup .contDiv .envioTitle {
  font-size: xx-large;
}

#envioPopup .contDiv .regist label {
  color: gray;
  font-size: medium;
}

#envioPopup .contDiv .regist input {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #149e14;
  margin-bottom: 1em;
}

#envioPopup .contDiv .btn-close {
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  padding: 1em;
}

#envioPopup .contDiv .btnNext {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  padding: 0.5em;
  background-color: #008000;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#envioPopup .contDiv .gifEnvio {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#envioPopup .contDiv .gifEnvio img {
  height: 90%;
}

#signUpModal .modal-dialog {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #008000;
  border-radius: 10px;
}

#signUpModal .modal-content {
  width: 90%;
}

#signUpModal .btn-success {
  width: 100%;
}

#signUpModal .btn-close {
  padding: 1em;
}

#pruebasPage .contDiv {
  background-color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#pruebasPage .contDiv button {
  width: 100%;
}

#noalcanzaPopup {
  display: none;
  z-index: 900000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#noalcanzaPopup .contDiv {
  background-color: #212529;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#noalcanzaPopup .contDiv .btn-close {
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  padding: 1.5em;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#noalcanzaPopup .contDiv .recysad {
  width: 12em;
  margin-bottom: -4em;
  z-index: 2;
  margin-top: 2em;
}

#noalcanzaPopup .contDiv .oval {
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background: #eaeaea;
  z-index: 1;
}

#noalcanzaPopup .contDiv .textNoalcanza {
  color: whitesmoke;
  font-weight: 500;
  text-align: center;
  font-size: 100%;
  margin-top: 0.5em;
}

#noalcanzaPopup .contDiv .textNoalcanzarojo {
  background-color: rgba(172, 42, 42, 0.999);
  padding: 0.5em 1em 0em 1em;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  margin-bottom: 1em;
}

#alcanzaPopup {
  display: none;
  position: fixed;
  z-index: 900000;
  top: 0;
  width: 100%;
  height: 100%;
}

#alcanzaPopup .contDiv {
  background-color: whitesmoke;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#alcanzaPopup .contDiv .btn-close {
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  padding: 1.5em;
}

#alcanzaPopup .contDiv .recysad {
  width: 12em;
  margin-bottom: -4em;
  z-index: 2;
  margin-top: 2em;
}

#alcanzaPopup .contDiv .oval {
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background: #cccccc;
  z-index: 1;
}

#alcanzaPopup .contDiv .textNoalcanza {
  color: #212529;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  margin-top: 0.5em;
}

#alcanzaPopup .contDiv .textNoalcanzarojo {
  background-color: #38B000;
  padding: 0.5em 1em 0em 1em;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  margin-bottom: 1em;
}

.btn-close {
  position: absolute;
  font-size: larger;
  top: 0;
  right: 0;
  padding: 1.5em;
}

.carouselMenu:hover {
  -webkit-animation: menu 2s ease-in;
          animation: menu 2s ease-in;
}

@media screen and (orientation: landscape) {
  body {
    background-color: teal;
  }
  body #menuPage .web {
    display: block;
  }
  body #menuPage .webResponsive {
    width: 100%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #menuPage .webResponsive .carouselMenu {
    height: 100%;
    width: 90%;
  }
  body #menuPage .webResponsive .imgCarousel {
    height: 100%;
  }
  body #menuPage .notLogedMenu {
    margin-top: 0;
  }
  body #menuPage .usser {
    margin-top: 0;
  }
  body #menuPage #carouselExampleControls {
    border: 3px solid #38b000;
  }
  body #premiosPage .card-img-top {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body #contactPage {
    background-image: url(../img/fondo-contact-01.jpg);
    background-position-x: left;
    background-size: 160%;
    -webkit-backdrop-filter: blur(30%);
            backdrop-filter: blur(30%);
  }
  body #contactPage .contDiv {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-radius: 0px 50px 50px 0px;
    background-image: url(../img/bg-portrait.png);
    background-size: cover;
    background-attachment: fixed;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.387);
            box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.387);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), color-stop(99%, whitesmoke));
    background-image: linear-gradient(180deg, whitesmoke 0%, whitesmoke 99%);
    -webkit-box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
            box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #008000;
  }
}

.light-mode {
  /* Handle */
}

.light-mode body {
  background-image: url(../img/bg-portrait-light.png);
  background-size: cover;
  background-attachment: fixed;
}

.light-mode body #homePage,
.light-mode body #menuPage,
.light-mode body #estacionesPage,
.light-mode body #guiaPage,
.light-mode body #aboutPage,
.light-mode body #premiosPage,
.light-mode body #contactPage {
  color: #212529;
}

.light-mode ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212529), color-stop(99%, #212529));
  background-image: linear-gradient(180deg, #212529 0%, #212529 99%);
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes menu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

::-webkit-input-placeholder {
  color: #212529;
  padding-left: 5px;
}

:-ms-input-placeholder {
  color: #212529;
  padding-left: 5px;
}

::-ms-input-placeholder {
  color: #212529;
  padding-left: 5px;
}

::placeholder {
  color: #212529;
  padding-left: 5px;
}

input[type='radio']:checked {
  accent-color: green;
}

input:hover {
  border: 1px solid #70E000;
}
/*# sourceMappingURL=style.css.map */