$green-1: #CCFF33;
$green-2: #9EF01A;
$green-3: #70E000;
$green-4: #38B000;
$green-5: #008000;
$green-6: #007200;
$green-7: #006400;
$green-8: #004B23;
$white: whitesmoke;
$grayTit: rgb(78, 78, 78);
$shadow1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$darkmode: #212529;
$rojo: rgba(172, 42, 42, 0.999);

* {
    margin: 0;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-portrait.png);
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    // overflow: hidden;

    & #homePage,
    #menuPage,
    #estacionesPage,
    #guiaPage,
    #aboutPage,
    #premiosPage,
    #contactPage {
        width: 100%;
        height: 100%;
        color: $white;
        overflow: hidden;
    }

    & .contDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
}

nav {
    position: fixed;
    top: 0;
    z-index: 36;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin-bottom: 2em;

    & .navbar-brand {
        width: 30px;
    }

    & .nav-link {
        font-weight: bold;
        color: $white;
    }

    & #loginNav {
        background-color: #007200;
        color: $white;
    }

    & #logOut {
        background-color: #007200;
        color: $white;
    }

    & #btnRegist {
        background-color: #007200;
        color: $white;
        position: absolute;
        float: right;
    }
}

#menuPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    & .usser {
        margin-top: 2em;
    }

    & .contDiv {
        width: 100%;
        height: 100%;
        background-color: $darkmode;
    }

    #carouselExampleControls {
        position: relative;
        height: 100%;
        background-color: $white;
        border-radius: 10px 10px 0px 0px;
    }

    & .carouselMenu {
        width: 90%;
        max-height: 200px;
        border-radius: 136px;
        background-color: $darkmode;
        margin-top: 1em;
        border-bottom: 1px solid $green-1;
    }

    & .carousel-inner {
        border-radius: 10px;
        box-shadow: $shadow1;
        height: 100%;
    }

    & .contDiv {
        background-color: $darkmode;
    }

    & .imgCarousel {
        width: 100%;
        height: 200px;
        object-fit: cover;

    }

    & .carouselTitle {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 167, 3, 0) 0%, #60a817 100%);
        padding: 0em 0em 0.3em 0.5em;

        & p {
            font-size: x-large;
            color: white;
            // text-shadow: 2px 0 0 $darkmode, -2px 0 0 $darkmode, 0 2px 0 $darkmode, 0 -2px 0 $darkmode, 1px 1px $darkmode, -1px -1px 0 $darkmode, 1px -1px 0 $darkmode, -1px 1px 0 $darkmode;
        }
    }

    & .ecoins {
        display: flex;
        justify-content: center;
        align-items: center;

        & .ecoinsText {
            font-size: 200%;
            font-weight: 500;
        }

        & .ecoinIco {
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    & .userPerfil {
        width: 120px;
        height: 120px;
        margin-top: 35px;
        box-shadow: $shadow1;
        margin-bottom: 1em;
        border-radius: 100%;
    }

    & .userName {
        font-size: large;
        font-weight: 500;
        // margin-top: 1rem;
    }

    & .notLogedMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;

        & .notlogimg {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1em;

            & .gwTitle {
                width: 90%;
                margin-top: -1.4em;
                margin-bottom: -1.3em;
            }
        }

        & .notlogbtn {
            background-color: $green-4;
            border-radius: 10px;
            margin-bottom: 0.5em;

            & .btn {
                color: whitesmoke;
                font-weight: 500;
            }
        }

        & .notlogcoins {
            display: flex;
            align-items: center;

            & .ecoinIco {
                margin-left: 5px;
                margin-bottom: 10px;
            }
        }

        & .notlogText {
            font-size: 150%;
        }
    }

    & #eventoSemanal{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10000;

        & .opacityEvent{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.413);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .popupEvent{
                width: 85%;
                height: 70%;
                border-radius: 10px;
                box-shadow: $shadow1;
                background-color: $white;
                padding: 1em;
                color: $darkmode;
                position: relative;

                & .imgeventoS{
                    width: 100%;
                    height: 150px;
                    position: absolute;

                    & img{
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

#homePage {
    position: relative;

    & .map_estaciones {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 0;
    }

    & iframe {
        width: 100%;
        height: 100%;
    }

    & .cardHome {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 2;
        position: fixed;
        bottom: 0;
        color: $white;
        background-color: $green-8;

        & .btn {
            background-color: $green-5;
            color: white;
        }
    }

    & .ecoinsHome {
        width: 100%;
        position: absolute;
        background-color: #004B23;
        color: rgb(235, 205, 37);
        top: 0;
        display: flex;
        justify-content: end;
    }

    & #app {
        position: absolute;
        list-style: none;
        z-index: 1;
        background-color: $green-7;
        width: 100%;
        max-height: 200px;
        bottom: 0;
    }

}

#guiaPage {

    & .contDiv {
        margin-top: 4em;

        & .userPerfil {
            width: 120px;
            height: 120px;
            margin-top: 35px;
            box-shadow: $shadow1;
            margin-bottom: 1em;
        }

        & .userName {
            font-size: large;
            font-weight: 500;
            // margin-top: 1rem;
        }

        & .ecoins {
            display: flex;
            justify-content: center;
            align-items: center;

            & .ecoinsText {
                font-size: 200%;
                font-weight: 500;
            }

            & .ecoinIco {
                margin-left: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        & .guiaCont {

            display: flex;
            flex-direction: column;
            width: 90%;
            text-align: center;
            border-radius: 20px;
            box-shadow: $shadow1;
            background-color: $darkmode;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;

            & h3 {
                font-size: x-large;
                color: $green-4;
            }

            & ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: left;
            }

        }
    }
}

#aboutPage {
    width: 100%;

    & .notlogimg {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.3em;

        & .gwTitle {
            width: 90%;
            margin-top: -1.4em;
            margin-bottom: -1.3em;
        }
    }

    & .aboutCont {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
        border-radius: 20px;
        box-shadow: $shadow1;
        background-color: $darkmode;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;

        & h3 {
            font-size: x-large;
            color: $green-4;
        }

        & .aboutMarcas {
            width: 100%;

            & .marcas {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#premiosPage {
    color: $grayTit;
    position: relative;

    & .row div {
        padding: 0;
    }

    & .ecoins {
        display: flex;
        justify-content: space-around;
        position: relative;
        z-index: 35;
        background-color: #212529;
        padding: 0em 1em 0em 1em;
        position: fixed;
        margin-top: 3.5em;
        border-radius: 0px 0px 30px 30px;
        flex-direction: column;

        & p {
            margin-top: 0;
            margin-bottom: 0;
        }

        & .premionav {
            display: flex;
            justify-content: center;
            margin: 0.5em;

            & p {
                margin-bottom: 0;
            }
        }

        & .premioFilt {
            display: flex;
            align-items: center;
            text-align: center;

            & select {
                background-color: $darkmode;
                color: $white;
                border: none;
                padding: 5px;
                font-weight: 400;
            }
        }


        & .ecoinsText {
            font-size: 200%;
            font-weight: 500;
        }

        & .ecoinIco {
            margin-left: 0.5rem;
        }
    }

    & .recompensa {
        margin-top: 3em;
    }

    & #winner {
        display: flex;
        flex-wrap: wrap;

        & .btn {
            background-color: $green-7;
            color: whitesmoke;
        }
    }

    & .delete-product {
        cursor: pointer;
    }

    & .carritobtn {
        background-color: $green-4;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 1em;
        margin: 1em;
        border-radius: 100%;
        box-shadow: $shadow1;
        cursor: pointer;
        z-index: 30000;
        border: none;
        border: nones;
    }

    & table {
        box-shadow: $shadow1;
        border-radius: 10px;
    }
}

#contactPage {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;

    & h2 {
        font-size: 200%;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    & label {
        margin-top: 1em;
        margin-bottom: -1em;
    }

    & .contDiv {
        width: 100%;
        background: linear-gradient(-45deg, $green-3, $green-5, $green-4, $green-3);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100%;
        position: relative;
        top: 0;
        right: 0;

        & h2 {
            color: $darkmode;
            z-index: 3;
        }

        & form {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;

            & .contactForm {

                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 120%;

                & input {
                    width: 90%;
                    height: 40px;
                    border-radius: 10px;
                    background-color: $white;
                    border: none;
                    box-shadow: $shadow1;
                    margin-bottom: 1em;
                }
            }

            & .msjContact {
                width: 90%;
                height: 150px;
                border-radius: 10px;
                background-color: $white;
                border: none;
                box-shadow: $shadow1;
                text-align: center;
            }

            & .btnContact {
                border: none;
                border-radius: 10px;
                background-color: $green-6;
                color: $white;
                padding: 1em 2em 1em 2em;
                margin: 1em;
            }

            & .fieldsetC {
                background-color: $white;
                width: 90%;
                display: flex;
                flex-direction: column;
                font-size: large;
                color: $darkmode;
                border-radius: 10px;
                margin-bottom: 1em;

                & p {
                    margin-top: 1em;
                    margin-bottom: -1em;
                }
            }

            & .tipoUser {
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-bottom: 1em;
            }
        }
    }

    & video {
        position: absolute;
        height: 100vh;
        opacity: 0.7;
        z-index: 0;
    }

}

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkmode;
    z-index: 41000;
    display: flex;
    justify-content: center;
    align-items: center;

    & #usernameNYSL {
        width: 250px;
        /* text-align: start; */
    }

    #page-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #63af4ac0;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    #passwordNYSL {
        width: 250px;
    }

    #sign-in-button-MAIL {
        background-color: $darkmode;
        color: $white;
        width: 250px;
        margin-top: 10px;
        border: none;
        border-radius: 30px;
        padding: 5px 0px 5px 0px;
    }

    #sign-in-button {
        margin-left: 10px;
        color: inherit;
        margin-top: 20px;
        border-radius: 30px;
        border: none;
        background-color: transparent;
    }

    #sign-in-button-FB {
        margin-left: 10px;
        color: inherit;
        margin-top: 20px;
        border-radius: 30px;
        border: none;
        background-color: transparent;
    }

    .popUpSplash {
        z-index: 11000;
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        border-radius: 10px;
    }

    .popUpSig {
        z-index: 11000;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: $shadow1;
    }

    .logInAlt {
        width: 250px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .separador {
        font-size: xx-large;
        color: gray;
        height: 48px;
        margin-top: 9px;
    }

    .h2Sign {
        color: rgb(20, 20, 20);
    }

    .notSign {
        color: $grayTit;
        text-decoration: none;
        text-align: center;
        display: flex;
        margin-top: 1em;
    }

    .regist {
        & label {
            color: gray;
            font-size: medium;
        }

        & input {
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid rgb(20, 158, 20);
            margin-bottom: 1em;
        }
    }

}

#page-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkmode;
    z-index: 11000;
    display: flex;
    justify-content: center;
    align-items: center;

    & #login-email {
        width: 250px;
        /* text-align: start; */
    }

    #page-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #63af4ac0;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #login-password {
        width: 250px;
    }

    #sign-in-button-MAIL {
        background-color: $darkmode;
        color: $white;
        width: 250px;
        margin-top: 10px;
        border: none;
        border-radius: 30px;
        padding: 5px 0px 5px 0px;
    }

    #googleLogin-btn {
        margin-left: 10px;
        color: inherit;
        margin-top: 20px;
        border-radius: 30px;
        border: none;
        background-color: transparent;
    }

    #facebookLogin-btn {
        margin-left: 10px;
        color: inherit;
        margin-top: 20px;
        border-radius: 30px;
        border: none;
        background-color: transparent;
    }

    .popUpSplash {
        z-index: 11000;
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        border-radius: 10px;
    }

    .popUpSig {
        z-index: 11000;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: $shadow1;
    }

    .logInAlt {
        width: 250px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .separador {
        font-size: xx-large;
        color: gray;
        height: 48px;
        margin-top: 9px;
    }

    .h2Sign {
        color: rgb(20, 20, 20);
    }

    .notSign {
        color: $grayTit;
        text-decoration: none;
        text-align: center;
        display: flex;
        margin-top: 1em;
    }

    .regist {
        & label {
            color: gray;
            font-size: medium;
        }

        & input {
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid rgb(20, 158, 20);
            margin-bottom: 1em;
        }
    }

    & .btn-close {
        position: absolute;
        font-size: larger;
        top: 0;
        right: 0;
        padding: 1.5em;
    }

}

#envioPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $green-4;
    z-index: 31000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    animation: aparecer 1s forwards;

    & .contDiv {
        width: 90%;
        height: 90%;
        background-color: #fbfdfb;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        padding: 0.5em;

        & .envioTitle {
            font-size: xx-large;
        }

        & .regist {
            & label {
                color: gray;
                font-size: medium;
            }

            & input {
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid rgb(20, 158, 20);
                margin-bottom: 1em;
            }
        }

        & .btn-close {
            position: absolute;
            font-size: larger;
            top: 0;
            right: 0;
            padding: 1em;
        }

        & .btnNext {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 1em;
            padding: 0.5em;
            background-color: $green-5;
            color: $white;
            border: none;
            border-radius: 10px;
            box-shadow: $shadow1;
        }

        & .gifEnvio {
            object-fit: contain;
            width: 100%;

            & img {
                height: 90%;
            }
        }
    }
}

#signUpModal {
    & .modal-dialog {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green-5;
        border-radius: 10px;
    }

    & .modal-content {
        width: 90%;
    }

    & .btn-success {
        width: 100%;
    }

    & .btn-close {
        padding: 1em;
    }
}

#pruebasPage {

    & .contDiv {
        background-color: $darkmode;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & button {
            width: 100%;
        }
    }
}

#noalcanzaPopup {
    display: none;
    z-index: 900000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    & .contDiv {
        background-color: $darkmode;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-close {
            position: absolute;
            font-size: larger;
            top: 0;
            right: 0;
            padding: 1.5em;
            filter: invert(100%);
        }

        & .recysad {
            width: 12em;
            margin-bottom: -4em;
            z-index: 2;
            margin-top: 2em;
        }

        & .oval {
            width: 250px;
            height: 100px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: rgb(234, 234, 234);
            z-index: 1;
        }

        & .textNoalcanza {
            color: whitesmoke;
            font-weight: 500;
            text-align: center;
            font-size: 100%;
            margin-top: 0.5em;
        }

        & .textNoalcanzarojo {
            background-color: $rojo;
            padding: 0.5em 1em 0em 1em;
            border-radius: 10px;
            color: $white;
            font-weight: 500;
            text-align: center;
            font-size: 120%;
            margin-bottom: 1em;
        }
    }
}

#alcanzaPopup {
    display: none;
    position: fixed;
    z-index: 900000;
    top: 0;
    width: 100%;
    height: 100%;

    & .contDiv {
        background-color: $white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-close {
            position: absolute;
            font-size: larger;
            top: 0;
            right: 0;
            padding: 1.5em;
        }

        & .recysad {
            width: 12em;
            margin-bottom: -4em;
            z-index: 2;
            margin-top: 2em;
        }

        & .oval {
            width: 250px;
            height: 100px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: rgb(204, 204, 204);
            z-index: 1;
        }

        & .textNoalcanza {
            color: $darkmode;
            font-weight: 500;
            text-align: center;
            font-size: 120%;
            margin-top: 0.5em;
        }

        & .textNoalcanzarojo {
            background-color: $green-4;
            padding: 0.5em 1em 0em 1em;
            border-radius: 10px;
            color: $white;
            font-weight: 500;
            text-align: center;
            font-size: 120%;
            margin-bottom: 1em;
        }
    }
}

.btn-close {
    position: absolute;
    font-size: larger;
    top: 0;
    right: 0;
    padding: 1.5em;
}

.carouselMenu:hover {
    animation: menu 2s ease-in;
}

////////////////////////////////////////////////////////////////////landscape
@media screen and (orientation: landscape) {
    body {

        // & #homePage{}

        // & #estacionesPage{}

        // & #guiaPage{}

        // & #aboutPage{}

        & #premiosPage {
            .card-img-top {
                width: 250px;
                height: 300px;
                object-fit: cover;
            }
        }

        & #contactPage {
            background-image: url(../img/fondo-contact-01.jpg);
            // background-size: cover;
            background-position-x: left;
            background-size: 160%;
            backdrop-filter: blur(30%);

            & .contDiv {
                width: 50%;
                display: flex;
                justify-content: start;
                border-radius: 0px 50px 50px 0px;

                background-image: url(../img/bg-portrait.png);
                background-size: cover;
                background-attachment: fixed;
            }
        }
    }

    /////////////////////////////////////////////////scrollbar
    /* width */
    & ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    & ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.387);
        border-radius: 10px;
    }

    /* Handle */
    & ::-webkit-scrollbar-thumb {
        border-radius: 100px;
        // background-image: linear-gradient(180deg, $green-4 0%, $green-4 99%);
        background-image: linear-gradient(180deg, $white 0%, $white 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }

    /* Handle on hover */
    & ::-webkit-scrollbar-thumb:hover {
        background: $green-5;
    }
}


/////////////////////////////////////////////////////////////////////lightmode
.light-mode {
    & body {
        background-image: url(../img/bg-portrait-light.png);
        background-size: cover;
        background-attachment: fixed;


        & #homePage,
        #menuPage,
        #estacionesPage,
        #guiaPage,
        #aboutPage,
        #premiosPage,
        #contactPage {
            color: $darkmode;
        }

    }

    /////////////////////////////////////////////////scrollbar
    /* Handle */
    & ::-webkit-scrollbar-thumb {
        border-radius: 100px;
        // background-image: linear-gradient(180deg, $green-4 0%, $green-4 99%);
        background-image: linear-gradient(180deg, $darkmode 0%, $darkmode 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }
}


//////////////////////////////////////////////////////////////////////animaciones
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menu {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.8;
    }
}

//////////////////////////////////////////////////////////////////////inputs
::placeholder {
    color: $darkmode;
    padding-left: 5px;
}

input[type='radio']:checked {
    accent-color: green;
}

input:hover {
    border: 1px solid $green-3;
}